.gradle/
build/
local.properties
.idea/
*.iml
.cxx/
.externalNativeBuild/
captures/
*.apk
*.aab
*.keystore
*.jks
.DS_Store

# zip bootstrap diunduh saat build
engines/termux/app/src/main/cpp/bootstrap-*.zip
